FLASK_ENV="production"

# specs for badapple_classic
DB_NAME=badapple_classic
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_PGDUMP_URL="https://unmtid-dbs.net/download/Badapple2/badapple_classic.pgdump"

# specs for badapple2
# NOTE: DB2_PORT should be different than DB_PORT
DB2_NAME=badapple2
DB2_USER=
DB2_PASSWORD=
DB2_PORT=
DB2_PGDUMP_URL="https://unmtid-dbs.net/download/Badapple2/badapple2.pgdump"

# timezone (same for all DBs)
TZ=America/Denver

# you will need to edit the apache config with the SSL port here
BADAPPLE_NGINX_SSL_PORT=
BADAPPLE_NGINX_HTTP_PORT=
APP_NAME=Badapple2-API
# make sure nginx.conf uses this APP_PORT
# (line: proxy_pass http://badapple_api:8001/)
APP_PORT=8001
URL_PREFIX=badapple2
APP_URL=chiltepin.health.unm.edu/${URL_PREFIX}
MAX_CONTENT_LENGTH=1048576 # 1MB - limits size of POST requests
VITE_API_FETCH_SCAFFOLDS_URL=https://${APP_URL}/api/v1/compound_search/get_associated_scaffolds_ordered
VITE_API_FETCH_DRUGS_URL=https://${APP_URL}/api/v1/scaffold_search/get_associated_drugs
VITE_API_FETCH_ACTIVE_ASSAYS_URL=https://${APP_URL}/api/v1/scaffold_search/get_active_assay_details
VITE_DB_NAME=${DB_NAME}
VITE_DB2_NAME=${DB2_NAME}

# for gunicorn
N_WORKERS=3
MAX_REQUESTS=1000 # unlikely that you'd need to change this