FLASK_ENV="production"

# specs for badapple_classic
DB_NAME=badapple_classic
DB_USER=
DB_PASSWORD=

# specs for badapple2
DB2_NAME=badapple2
DB2_USER=
DB2_PASSWORD=

# timezone (same for all DBs)
TZ=America/Denver

APP_NAME=Badapple2-API
# make sure apache config proxies to this port (e.g. ProxyPass /badapple2/ http://localhost:8001/)
APP_PORT=8001
URL_PREFIX=badapple2
SERVER_NAME=chiltepin.health.unm.edu
APP_URL=${SERVER_NAME}/${URL_PREFIX}
MAX_CONTENT_LENGTH=1048576 # 1MB - limits size of POST requests

# for UI
VITE_API_FETCH_SCAFFOLDS_URL=https://${APP_URL}/api/v1/compound_search/get_associated_scaffolds_ordered
VITE_API_FETCH_DRUGS_URL=https://${APP_URL}/api/v1/scaffold_search/get_associated_drugs
VITE_API_FETCH_ACTIVE_ASSAYS_URL=https://${APP_URL}/api/v1/scaffold_search/get_active_assay_details
VITE_ASSET_ROOT=/${URL_PREFIX}
VITE_DB_NAME=${DB_NAME}
VITE_DB2_NAME=${DB2_NAME}

# for gunicorn
N_WORKERS=3
MAX_REQUESTS=1000 # unlikely that you'd need to change this

# Postgres tuning settings - you may want to modify these depending on your setup
# Based on: https://pgtune.leopard.in.ua/?dbVersion=16&osType=linux&dbType=web&cpuNum=4&totalMemory=8&totalMemoryUnit=GB&connectionNum=100&hdType=ssd
PG_MAX_CONNECTIONS=100
PG_SHARED_BUFFERS=2GB
PG_EFFECTIVE_CACHE_SIZE=6GB
PG_MAINTENANCE_WORK_MEM=512MB
PG_CHECKPOINT_COMPLETION_TARGET=0.9
PG_WAL_BUFFERS=16MB
PG_DEFAULT_STATISTICS_TARGET=100
PG_RANDOM_PAGE_COST=1.1
PG_EFFECTIVE_IO_CONCURRENCY=200
PG_WORK_MEM=20164kB
PG_HUGE_PAGES=off
PG_MIN_WAL_SIZE=1GB
PG_MAX_WAL_SIZE=4GB
PG_MAX_WORKER_PROCESSES=4
PG_MAX_PARALLEL_WORKERS_PER_GATHER=2
PG_MAX_PARALLEL_WORKERS=4
PG_MAX_PARALLEL_MAINTENANCE_WORKERS=2